.vipIcon {
  min-height: 14px;
  min-width: 14px;
  margin-right: 2px;
  background-image: url('../../public/channel/vip_icons.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.vip-small-1 {
  background-position: 0 0;
}

.vip-small-2 {
  background-position: -14px 0;
}

.vip-small-3 {
  background-position: -28px 0;
}

.vip-small-4 {
  background-position: -42px 0;
}

.vip-small-5 {
  background-position: -56px 0;
}

.vipIconBig {
  min-height: 14px;
  min-width: 55px;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.vip-big-1 {
  background-image: url('../../public/channel/icon_vip1.gif');
}

.vip-big-2 {
  background-image: url('../../public/channel/icon_vip2.gif');
}

.vip-big-3 {
  background-image: url('../../public/channel/icon_vip3.gif');
}

.vip-big-4 {
  background-image: url('../../public/channel/icon_vip4.gif');
}

.vip-big-5 {
  background-image: url('../../public/channel/icon_vip5.gif');
}
